html {min-height: 100%;}
body {
    background-image: linear-gradient(#2e3e29d3, #15260fd3), url("../images/fort_in_woods.png");
    background-size: cover;
    background-color: #3a5932;
    color: #9ee46b;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 1em;
    margin: 20px;
}
header {
    background-color: #426442;
    border: 1px solid #a7dc8b;
    }
nav {
    width:80%;
    background-color: #1e3d12;
    text-align: center;
    display:inline-block;
    align-items: center;
    }
nav a{
    text-decoration: none;
    color: #a7dc8b;
    padding: 5px;
    }
nav ul li {display:inline;}
header img {width: 10%}
nav a:hover{color: #1e3d12;
    background-color: #a7dc8b;}
main {
    background-color: #426442;
    font-size: .7em;
    border: 1px solid #a7dc8b;
    margin-top: 10px;
    margin-bottom:10px;
    }
main a{
    text-decoration: none;
    color: #b5ff8d;
}
main a:hover{color:#efffe0;}
footer {
    color:#81bc58;
    font-size: .7em;
    background-color: #426442;
    border: 1px solid #a7dc8b;
    padding-top: 5px;
    padding-bottom:5px;
    line-height: 1;
    text-align: center;
    }
footer a{
    text-decoration: none;
    color: #b5ff8d;
}
footer a:hover{color:#efffe0;}

img {
    /* display: inline; */
    margin:10px;
    border: 1px solid #a7dc8b;
}
ul {margin:0px; padding: 5px 0px 5px 0px; list-style-type: none;}
/* li {
    display: inline;
    margin-left:10px;
    margin-right:10px;
} */
h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #b5ff8d;
    font-size: 1.5rem;
    margin: 5px;
}
p {line-height: 1; margin: 10px; text-align: center;}

#goto {
position: inline;
text-decoration: none;
background-color: #a7dc8b;
padding: 5px 10px 5px 10px;
border: 1px solid #102d00;
color: #184302;
text-align: center;
margin-left: 1%;
font-size: .75rem;
}
#goto:hover {
border: 1px solid #a7dc8b;
color: #a7dc8b;
background-color: #184302;
}
.gallery {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-around;
    align-items: center;
}
.gallery img {width: stretch;}
